@mixin ifdesktop {
  @media only screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin iflaptop {
  @media only screen and (min-width: $laptop-width) {
    @content;
  }
}

@mixin iftablet {
  @media only screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin ifmobile {
  @media only screen and (min-width: 0px) {
    @content;
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}
