.Week {
  border-radius: 30px;
  background: rgba(33, 30, 30, 0.5);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: rem(10px);
  padding: 0 rem(20px);

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: rem(10px) rem(20px);
  }

  &__text {
    font-size: rem(24px);
    font-weight: 700;
    line-height: normal;
    color: #FFF;
  }

  &__image {
    width: rem(100px);
    height: rem(100px);
  }
}