.Button {
  padding: rem(10px) rem(70px);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  font-size: rem(20px);
  font-weight: 400;
  line-height: normal;
  color: #fff;
  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}
