.Profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: rem(30px);

  &__user {
    & p {
      font-size: rem(24px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      color: #fff;
    }

    & span {
      font-weight: 700;
    }
  }

  &__photo {
    & img {
      border-radius: 50%;
    }
  }

  &__circle {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    border-radius: 50%;
    font-weight: 600;
    color: #666666;
  }

  &__menu {
    & button {
      padding: rem(4px);
      margin: rem(4px);
      font-size: rem(16px);
      color: #ffffff;
      &:hover {
        color: #dddddd;
      }
    }
    & span {
      padding: rem(4px);
      margin: rem(4px);
      font-size: rem(16px);
      color: #ffffff;
    }

    &__btn {
      border: 2px solid #ffffff;
      border-radius: 8px;
      &:hover {
        border: 2px solid #dddddd;
      }
    }
  }
}
