.Input {
  border: none;
  border-radius: 30px;
  padding: rem(10px);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  background: #ffffff;
  height: rem(48px);

  & div {
    box-shadow: none;
  }

  & input {
    margin-left: rem(10px);
  }

  &__search {
    cursor: pointer;
  }
}

.SearchIcon {
  width: rem(43px);
  height: rem(43px);
}
