.Switch {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #d9d9d9;
  min-width: rem(100px);
  margin-left: rem(20px);

  &__item {
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex: 1 0;
    width: 50%;
    text-align: center;
    padding: 2px 8px;
    z-index: 3;
  }
  &__selection {
    position: absolute;
    background: #2f89fc;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    transition: all ease-in-out 0.3s;
    &_on {
      transform: translateX(100%);
      transition: all ease-in-out 0.3s;
    }
  }
}
