.Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: rem(20px);

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: rem(20px);

    @include iftablet {
      flex-direction: row;
    }
  }
}
